.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 48px;
}

.form {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
    font-family: 'Karla', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.two-options {
     display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

input {
    width: 50%;
    padding: 13px 22px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
  font-family: 'Karla', sans-serif;
}

select {

    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #DDE3EC;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #07074D;
    outline: none;
    resize: none;
  font-family: 'Karla', sans-serif;
}

.button-wrap {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.submit-btn {
  border-radius: 5px;
  border:none;
  font-size: 1.2rem;
  background-color: #F4CE14;
  padding: 10px 10px;
  font-family: 'Markazi Text', serif;
  margin-bottom: 20px;
}
