* {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #495E57;
}

.nav a:hover {
  color: white;
}



/* Nav CSS */

.nav {
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap:10px;
}

.logo-container{
 grid-column: 1/2;
 padding: 20px 5px 10px 25px;
}

.menu-container{
  grid-column: 2/ span 2;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
}

.nav li:hover {
  background-color: #F4CE14;
  
}

.nav li {
  list-style: none;
  font-family: 'Markazi Text', serif;
  font-size: 1.3rem;
  padding: 30px 10px 10px 10px;
}

h1 {
  font-family: 'Markazi Text', serif;
  font-size: 40px
}

h3 {
  font-family: 'Markazi Text', serif;
  font-size: 18px;
}


/* CallToAction CSS */

.cta-wrap {
  display: flex;  
  justify-content: space-evenly;
  background-color: #495E57;
}

.cta-container {  
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  gap:10px;
  background-color: #495E57;
  color: white;
  padding: 0 50px 0 50px;
}


.cta-about {
  grid-column: 2 /span 1;
  padding: 40px;

}

.cta-about p {
  padding: 10px 0 20px 0;
}

.cta-about button {
  border-radius: 5px;
  border:none;
  font-size: 1.2rem;
  background-color: #F4CE14;
  padding: 10px 10px;
  font-family: 'Markazi Text', serif;
}



.cta-image {
  grid-column: 3/ span 1;
  padding: 40px;

}

.cta-image img {
  height: 300px;
}
/* Footer CSS */

.footer-container li {
  list-style: none;
  padding-bottom: 5px;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-evenly;
    font-family: 'Karla', sans-serif;
  padding: 0 70px 0 70px;

}

.footer-logo {
  grid-column: 2/ span 1;
  padding: 20px;

}
.footer-menu {
  grid-column: 3/ span 1;
  padding: 20px;

}
.footer-contact {
  grid-column: 4/ span 1;
  padding: 20px;

}
.footer-social {
  grid-column: 5/ span 1;
  padding: 20px;

}

.footer-container h3 {
  font-family: 'Karla', sans-serif;
  padding-bottom: 5px;
}

/* CustomersSay CSS */

.testimonial-wrap {
  color: white;
  background-color: #495E57;
  text-align: center;
}

.testimonial-container {  
  display: flex;  
  justify-content: center;
    font-family: 'Karla', sans-serif;
}

.testimonial-header {  
  color: white;
  padding-top: 50px;
}

.testimonial-card {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  margin: 40px 0px 40px 40px;
  background-color: #6e8f84;
  border-radius: 5px;
  text-align: left;
}

/* Chicago CSS */

.chicago-wrap {
  display: flex;  
  justify-content: space-evenly;

}

.chicago-container {  
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  gap:10px;
  padding: 0 50px 0 50px;
}


.chicago-about {
  grid-column: 2/ span 1;
  padding: 20px;
  margin: 0 0px 0 20px;
}

.chicago-about p {
  grid-column: 3/ span 1;
  padding: 10px 0 20px 0;
}


.chicago-image {

  padding: 40px;
  margin: 0 40px 0 0px;
}

.chicago-image img {
  height: 300px;
}

/* Specials CSS */