* {
  margin:0;
  padding:0;
}

.nav {
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  gap:10px;
}

.logo-container{
 grid-column: 1/2;
}

.menu-container{
  grid-column: 2/ span 2;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
  font-family: 'Karla', sans-serif;
  padding: 30px 5px 10px 5px;
}

h1 {
  font-family: 'Markazi Text', serif;
}

.logo-container {
  padding: 20px 5px 10px 25px;
}